body{
    margin: 0;
    line-height: 0.5;
    padding: 0;
    background: linear-gradient(45deg, red, blue);

}
.calci{
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    transition: 0.25px;
    text-align: center;
}
#display{
    border: none;
    background: white;
    border-radius: 30px;
    width: 250;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 90%;
    margin: auto;
    border: 2px solid white;
    color: black;
}
.btnDesign{
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-weight: 300;
    border-radius: 30px;
    margin: 1,5;
    font-size: 200%;

}
.operatorDesign{
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 30;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor: pointer;

}
.operatorDesign:hover{
    background: blue;
}
#zero{
    width: 116;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: large;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5;
    transition: 0.25px;
    cursor: pointer;

}
h1{
    color: black;
    margin-top: 300px;
    margin-left: 100px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700px;
    text-decoration: underline;
    font-size: 50;
    
    
}
h2{
    color: black;
    margin-top: -1px;
    margin-left: 460px;
    font-family: sans-serif;
    font-weight: 500px;
    text-decoration: underline;
    font-size: 50;

    

}